.about-section {
  background: #183e7ea0;
  text-align: center;
  padding: 4rem 2rem;
  animation: fadeIn 1s ease-in-out;
}

body::before {
  content: "";
  position: fixed;
  width: 200%;
  height: 200%;
  background: url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
  opacity: 0.04;
  animation: drift 120s linear infinite;
  z-index: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 4px solid #f27cbb;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.4);
}

h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.highlight {
  color: lch(92.96% 65.11 99.82);
}

.typing-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #d350cc;
  min-height: 2rem;
  margin-bottom: 1rem;
}

.resume-btn {
  display: inline-block;
  background-color: #0ea5e9;
  color: white;
  padding: 0.6rem 1.2rem;
  margin-top: 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.resume-btn:hover {
  background-color: #0284c7;
  transform: scale(1.05);
}
