.skills-container {
  width: 100%;
  min-height: 80vh;
  padding: 6rem 2rem;
  background: linear-gradient(to right, #0f172a, #1e3a8a );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-sizing: border-box;
}

.skills-pill-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem 2rem;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}


.skills-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 4rem;
  color: #f3f3f3;
  letter-spacing: 1px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 90vw; 
}

.skill-pill {
  padding: 0.8rem 1.8rem;
  background: rgba(218, 79, 239, 0.427);
  border: 1px solid rgba(19, 7, 16, 0.827);
  border-radius: 999px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(6px);
}

.skill-pill:hover {
  background-color: rgba(214, 132, 247, 0.776);
  transform: translateY(-2px);
  color: #e0e0ff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.skills-pill-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem 2rem; /* row gap | column gap */
  max-width: 1000px;
}


@media (max-width: 480px) {
  .Skills-title {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .Skills-container {
    padding: 2rem 1rem;
    height: auto;
  }

  
  .skill-pill {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }
}